autopep8
babel!=2.0
bokeh
cairosvg
cffi
codecov
coverage>=5.0
cryptography
docformatter
fire
git-pandas
gitdb
img2pdf
ipython>=5.0.0
js2py
jupyter
jupyter-client
jupyter_sphinx>=0.2.0
jyquickhelper>=0.3.128
keyring
Mako
matplotlib
mistune
nbconvert>=5.6.1
nbformat
notebook>=5.0.0
numpy>=1.16
numpydoc
openpyxl
pandas>=0.22.0
pandocfilters
pillow
psutil
pycodestyle>=2.0.0
pycryptodomex
pydocstyle
pyinstrument
pylint
pylzma
pysftp
python-jenkins>=1.0.0
PyYAML
scipy
semantic_version
setuptools
Sphinx>=2.1
sphinx-gallery
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinx_rtd_theme
tqdm
unify
virtualenv
wheel
