autopep8
babel!=2.0
bokeh
cairosvg
cffi
codecov
coverage
cryptography
docformatter
git-pandas
ipython>=5.0.0
js2py
jupyter
jupyter-client
jupyter_sphinx
jyquickhelper>=0.3.128
keyring
Mako
matplotlib
mistune
git+https://github.com/sdpython/nbconvert.git@fixes
nbformat
nbpresent
notebook>=5.0.0
numpy>=1.16
openpyxl
pandas>=0.22.0
pandocfilters
pillow
psutil
pycodestyle>=2.0.0
pycryptodomex
pydocstyle
pylint
pylzma
python-jenkins>=1.0.0
PyYAML
semantic_version
setuptools
Sphinx>=1.8
sphinx-gallery
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinx_readable_theme
sphinx_rtd_theme
tqdm
unify
virtualenv
wheel
