
.highlight-ipython3 {
	background-color: #f8f8c8;
}

div.highlight-ipython3 pre {
	background-color: #f8f8c8;
}

div.body ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

div.body li {
    line-height: 1.2em;
}

pre.highlight-default {
	background-color: #b5b5b5;
}
